---
layout: 'layouts/tags.njk'
pagination:
  data: collections.tags
  size: 80
  alias: tags
addAllPagesToCollections: true
permalink: "tags/"
---

{% for tag in tags %}
    {% if 'public' in tag.visibility %}
        <a href = "{{tag.url}}">
            <section class="tags-box">
                <h3>{{ tag.name }}</h3>
                {{ tag.posts.length }}
            </section>
        </a>
    {% endif %}
{% endfor %}
