---
pagination:
  data: collections.posts
  size: 7
  alias: posts
---

{% extends 'layouts/default.njk' %}
{% from "partials/card.njk" import card %}

{% set title = "Posts" %}

{% block content %}
    <script defer src="/scripts/loadPosts.js"></script>
    <section class="post-feed" id="post-feed-all">
        {% for post in posts %}
            {{ card(post) }}
        {% endfor %}
    </section>
    <button style = "text-align:center;" id ="loadPosts">Load more</button>

    {# {% include "partials/pagination.njk" %} #}
{% endblock%}
