---
pagination:
  data: collections.tags
  size: 1
  alias: tag
permalink: "{{ tag.url }}"
---

{% extends 'layouts/default.njk' %}
{% from "partials/card.njk" import card %}

{% set title = tag.name %}

{% block content %}
    <script defer src="/scripts/loadPosts.js"></script>
    <section class="post-feed" id="tag-post-feed" data-load-count="1">
        {% for post in tag.posts | arrSlice(0,7) %}
            {{ card(post) }}
        {% endfor %}
    </section>
    {% if not ( (tag.posts | arrSlice(0,7)) | last).isLastPost %}
        <button style = "text-align:center;" id = "loadTagPosts" name = "loadTagPosts-{{tag.slug}}">Load more</button>
    {% endif %}
{% endblock%}